name: path_provider_android
description: Android implementation of the path_provider plugin.
version: 2.4.15
publish_to: none

environment:
  sdk: ">=2.17.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
